.btnHover {
  display: flex;
  align-items: center;
  @include fluid(padding-left, 30px, 40px);
  @include fluid(padding-right, 70px, 90px);
  @include fluid(padding-top, 15px, 20px);
  @include fluid(padding-bottom, 15px, 20px);
  overflow: hidden;
  background-color: #ffcf26;
  width: fit-content;
  border-radius: 37px;
  position: relative;
  transition: all 0.38s ease-in-out;
  &:hover {
    @include fluid(padding-right, 20px, 40px);
    @include fluid(padding-left, 70px, 90px);
    .btnHover__icon {
      width: 100%;
      height: 200%;
      right: 0;
      justify-content: flex-start;
      @include fluid(padding-left, 15px, 30px);

      span {
        transform: rotate(0deg);
      }
    }
  }
  &--transparent {
    background-color: transparent;
    border: 1px solid $black;

    .btnHover__icon {
      background-color: transparent;
    }
    &:hover {
      .btnHover__icon {
        background-color: $white;
      }
    }
  }
  &__text {
    @include fluid(font-size, 16px, 18px);
    color: #2d3e50;
    z-index: 1;
  }
  &__icon {
    @include fluid(width, 30px, 50px);
    @include fluid(height, 30px, 50px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    right: 10px;
    transition: all 0.38s ease-in-out;
    span {
      color: #2d3e50;
      @include fluid(font-size, 9px, 18px);
      transform: rotate(-45deg);
      transition: all 0.38s ease-in-out;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  color: $black;
  @include fluid(padding-top, 11px, 14px);
  @include fluid(padding-bottom, 11px, 14px);
  border-radius: 29px;
  width: fit-content;
  @include fluid(gap, 7px, 10px);
  transition: background-color 0.4s linear, color 0s ease-in-out;

  position: relative;
  background-image: linear-gradient($yellow, $yellow);
  background-size: 0 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  &--grey {
    background-color: $black;
    color: $white;
    &:hover {
      color: $black;
    }
  }
  &--yellow {
    background-color: $yellow;
  }

  &:before {
    position: absolute;
    content: '';
    left: -100%;
    width: 100%;
    height: 100%;
    background: $yellow;
    border-radius: 53px;
    transition: all 0.38s ease-in-out;
  }
  &__text {
    z-index: 2;
    @include fluid(padding-left, 20px, 40px);
    @include fluid(padding-right, 20px, 40px);
    transition: all 0.38s ease-in-out;
  }
  &__icon {
    font-size: 15px;
    opacity: 0;
    position: absolute;
    transition: all 0.38s ease-in-out;
    right: 25px;
  }

  &:hover {
    background: $yellow;

    .btn__icon {
      opacity: 1;
      left: unset;
      right: 21px;
    }
    .btn__text {
      @include fluid(padding-left, 10px, 20px);
      @include fluid(padding-right, 40px, 60px);
    }
    &:before {
      left: 0;
    }
  }

  &--invert {
    background-color: $yellow;
    color: $black;
    .btn__text {
      @include fluid(padding-left, 10px, 20px);
      @include fluid(padding-right, 40px, 60px);
    }

    &::before {
      left: 0;
    }

    .btn__icon {
      opacity: 1;
    }

    &:hover {
      background-color: $black;
      color: white;
      .btn__text {
        padding-inline: 40px;
      }

      &::before {
        left: -100%;
      }

      .btn__icon {
        color: $black;
        right: 30px;
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .btn {
    &--invert {
      background-color: white;

      .btn__text {
        padding-inline: 20px;
      }

      .btn__icon,
      &::before {
        display: none;
        opacity: 0;
      }
    }
  }
}
