.facilitiesCard {
  background-color: $white;
  @include fluid(padding-top, 20px, 30px);
  @include fluid(padding-bottom, 20px, 40px);
  @include fluid(padding-left, 20px, 30px);
  @include fluid(padding-right, 20px, 30px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  @include fluid(gap, 15px, 20px);
  transition: all .38s ease-in-out;
  &:hover{
    transform: scale(1.04);
  }
  &__img {
    @include fluid(width, 50px, 60px);
    @include fluid(height, 50px, 60px);
  }

  &__title {
    color: $black;
    @include fluid(font-size, 18px, 22px);
    font-weight: 400;
  }

  &__text {
    color: #4B5256;
    @include fluid(font-size, 16px, 18px);
    font-weight: 400;
  }
}