.facilities {
  background-color: $yellow;
  border-radius: 60px 60px 0 0;
  margin-bottom: 100px;

  .container {
    height: 100%;
  }

  &__wrapper {
    display: flex;
    @include fluid(margin-top, 40px, 100px);
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__left {
    width: 48%;
    position: sticky;
    @include fluid(top, 0px, 195px);
    height: fit-content;
    &-title {
      @include fluid(margin-bottom, 30px, 60px);

      span {
        color: $black;
      }
    }
  }

  &__right {
    width: 48%;
    display: flex;
    flex-direction: column;
    @include fluid(gap, 20px, 30px);
    @include fluid(margin-bottom, 200px, 250px);

  }




}