


.title {
  @include fluid(font-size, 24px, 50px);
  font-weight: 600;
  color: $white;
  &--black {
    color: $black;
  }

}

.text {
  @include fluid(font-size, 18px, 22px);
  font-weight: 300;
  color: $white;
  line-height: 140%;
}

