.projects {
  border-radius: 60px 60px 0px 0px;
  //   background-color: $white;

  &__wrapper {
    height: 100%;
  }

  &__container {
    // @include fluid(padding-top, 100px, 140px);
    grid-area: right;
    display: flex;
  }

  &__content {
    @include fluid(margin-top, 30px, 60px);
    @include fluid(margin-bottom, 30px, 60px);
    display: grid;
    grid-template-rows: auto 1fr;

    &-text {
      color: $white;
      @include fluid(font-size, 20px, 26px);
      line-height: 153.846%;
      margin-top: 30px;
      font-weight: 400;
      width: 90%;
    }
  }

  &__box {
    align-content: center;
    margin-top: 20px;
  }

  &__buttons {
    @include fluid(margin-top, 30px, 60px);
    display: flex;
    gap: 30px;
  }

  &__button {
    font-size: 16px;
    font-weight: 400;
    border-radius: 999px;
    border: 1px solid white;
    padding: 14px 20px;
    color: white;
    transition: all 0.38s ease-in-out;
    display: block;
    flex-wrap: wrap;

    &:hover {
      background-color: white;
      color: #4b5256;
    }
  }

  &__image {
    border-radius: 60px 60px 0px 0px;
    width: 46%;
    object-fit: cover;
  }

  .pp-tableCell {
    border-radius: 60px;
    background: #4b5256;
  }

  &Done {
    border-radius: 60px 60px 0px 0px;
    height: 100%;
    background-color: white;

    .title {
      color: $black;
    }

    &__list {
      @include fluid(margin-top, 30px, 60px);
      @include fluid(margin-bottom, 30px, 100px);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include fluid(gap, 15px, 30px);
    }

    &__item {
      border-radius: 30px;
      border: 1px solid #4b5256;
      transition: background 0.38s ease-in-out;
      @include fluid(padding, 20px, 40px);
      display: flex;
      flex-direction: column;
      @include fluid(gap, 45px, 90px);

      img {
        object-fit: contain;
        @include fluid(height, 60px, 90px);
        filter: grayscale(1);
      }

      &:hover {
        background-color: #4b5256;

        img {
          filter: grayscale(1) invert(1);
        }
      }
    }
  }

  &Hero {
    border-radius: 60px 60px 0px 0px;
    background-color: #4b5256;
    overflow: hidden;
    &__wrapper {
      @include fluid(margin-top, 30px, 60px);
      grid-area: center;
      display: grid;
      grid-template-rows: auto 1fr;
    }

    &__container {
      display: grid;
      height: 100%;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
    }

    &__content {
      background: linear-gradient(94.34deg, #2d3e50 40%, rgba(45, 62, 80, 0.2) 100%);

      grid-area: 1/1/-1/-1;
    }

    &__title {
      max-width: 50%;
      text-wrap: balance;
      max-width: 28ch;
      align-self: center;
      margin-bottom: 20vh;
    }

    &__image {
      grid-area: 1/1/-1/-1;
      justify-self: end;
      height: inherit;
      object-fit: cover;
    }
  }

  &Gear {
    &.pp-scrollable {
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    border-radius: 60px 60px 0px 0px;
    background-color: $yellow;
    background-repeat: no-repeat;
    background-image: url('../img/picture/bg-b.svg');
    object-position: right;
    background-position-x: right;
    background-position-y: center;
    background-size: contain;
    &__wrapper {
      min-height: 100%;
    }

    &__container {
      @include fluid(margin-top, 30px, 60px);
      @include fluid(margin-bottom, 30px, 60px);
      grid-area: center;
      display: flex;
      flex-direction: column;
      @include fluid(gap, 30px, 60px);
    }

    &__heading {
      @include fluid(font-size, 20px, 40px);
      font-weight: 600;
    }

    &__col {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 20px, 40px);
    }

    &__row {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      @include fluid(gap, 15px, 30px);
    }

    &__card {
      border-radius: 30px;
      @include fluid(padding, 20px, 30px);
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include fluid(height, 160px, 230px);
    }

    &__logo {
      width: 120px;
      height: 32px;
      object-fit: contain;
      align-self: end;
    }

    &__title {
      @include fluid(font-size, 16px, 22px);
      font-weight: 600;
    }

    &__text {
      @include fluid(font-size, 14px, 20px);
      font-weight: 300;
    }
  }

  &Gallery {
    border-radius: 60px 60px 0px 0px;
    background-color: white;

    &.pp-scrollable {
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    &__wrapper {
      min-height: 100%;
      height: 140%;
    }

    &__container {
      grid-area: center;
      @include fluid(margin-top, 30px, 60px);
      @include fluid(margin-bottom, 30px, 120px);
      display: flex;
      flex-direction: column;
      @include fluid(gap, 20px, 50px);
    }

    &__title {
      font-weight: 600;
      @include fluid(font-size, 20px, 40px);
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include fluid(gap, 20px, 40px);
    }

    &__col {
      display: flex;
      flex-direction: column;
      @include fluid(gap, 15px, 30px);

      &:nth-child(2) {
        @include fluid(margin-top, 30px, 60px);
      }
    }

    &__item {
    }

    &__image {
      object-fit: cover;
      border-radius: 30px;
      @include fluid(height, 350px, 455px);
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .projects {
    background: #4b5256;
    &__wrapper {
    }

    &__container {
    }

    &__content {
      margin-left: 1.5rem;
      &-text {
      }
    }

    &__box {
    }

    &__buttons {
    }

    &__button {
      &:hover {
      }
    }

    &__image {
    }

    .pp-tableCell {
    }

    &Done {
      margin-top: 30px;
      margin-bottom: 30px;
      .title {
      }

      &__list {
      }

      &__item {
        img {
        }

        img {
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .projects {
    padding-top: 80px;
    background: #4b5256;
    &__wrapper {
    }

    &__container {
      grid-area: center;
    }

    &__content {
      grid-template-rows: auto 1fr;
      margin-top: unset;
      gap: 10px;
      margin-left: unset;

      &-text {
      }
    }

    &__box {
    }

    &__buttons {
      gap: 30px;
    }

    &__button {
      &:hover {
      }
    }

    &__image {
      display: none;
    }

    .pp-tableCell {
    }

    &Done {
      .title {
      }

      &__list {
        grid-template-columns: repeat(2, 1fr);
      }

      &__item {
        img {
        }

        img {
        }
      }
    }

    &Hero {
      &__container {
      }
      &__content {
      }
      &__wrapper {
        margin-top: 80px;
      }
      &__title {
      }

      &__image {
      }
    }

    &Gear,
    &Gallery {
      border-radius: unset;
    }

    &Gear {
      &__card {
        border-radius: 16px;
      }
    }

    &Gallery {
      &__list {
        grid-template-columns: 1fr;
      }

      &__col {
        gap: 20px;

        &:nth-child(2) {
          margin-top: unset;
        }
      }
      &__image {
        border-radius: 16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects {
    &Hero {
      &__container {
      }
      &__content {
      }
      &__wrapper {
      }
      &__title {
      }

      &__image {
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .projects {
    &Hero {
      &__container {
        min-height: 100vh;
      }
      &__content {
        background: linear-gradient(180deg, #2d3e50 42%, rgba(45, 62, 80, 0.2) 100%);
      }
      &__wrapper {
        margin-top: 80px;
      }
      &__title {
        align-self: unset;
        margin-bottom: unset;
        margin-top: 60px;
      }

      &__image {
        grid-area: 2 / 1 / -1 / -1;
      }
    }
    &__wrapper {
    }

    &__container {
    }

    &__content {
      &-text {
      }
    }

    &__box {
    }

    &__buttons {
      flex-direction: column;
      gap: 15px;
      text-align: center;
    }

    &__button {
      &:hover {
      }
    }

    &__image {
    }

    .pp-tableCell {
    }

    &Done {
      .title {
      }

      &__list {
        grid-template-columns: repeat(1, 1fr);
      }
      .newsCard__btn {
        width: 100%;
        justify-content: center;
      }

      &__item {
        img {
        }

        img {
        }
      }
    }
  }
}
