.whyChooseUs {
  background-color: #e9ecf2;
  border-radius: 60px 60px 0 0;

  &--white {
    background-color: white;
  }

  &.pp-scrollable {
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    @include fluid(margin-bottom, 700px, 1000px);

    &-title {
      @include fluid(margin-top, 30px, 50px);
      align-items: center;
      color: $black;
    }
  }

  &__heading {
    display: flex;
    @include fluid(gap, 30px, 60px);
    @include fluid(margin-bottom, 600px, 1000px);

    &-col {
      display: flex;
      flex-direction: column;
      gap: 2em;
      flex-shrink: 0;
    }
    @include fluid(margin-top, 30px, 120px);
    &-title {
      @include fluid(font-size, 20px, 40px);
      color: #2d3e50;
      text-wrap: balance;
    }

    &-text {
      @include fluid(font-size, 16px, 20px);
      max-width: 32ch;
    }
  }

  &__circles {
    position: absolute;
    @include fluid(left, 112px, 0);
    top: 0;
    width: 100%;
    height: 100%;

    &--static {
      top: 150px;
      @include fluid(margin-bottom, 30px, 150px);
      height: auto;
    }
  }

  &__circle {
    position: absolute;
    border-radius: 50%;

    &-big {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include fluid(padding-top, 70px, 100px);
      @include fluid(padding-bottom, 70px, 100px);
      @include fluid(padding-left, 50px, 70px);
      @include fluid(padding-right, 50px, 70px);
      transition: background-color 0.38s ease-in-out;
      transition-property: background, border;
      &:hover {
        background-color: $yellow;
        border-color: $yellow;
        p {
          color: $black;
        }
      }
    }

    &-title {
      @include fluid(font-size, 19px, 30px);
      font-weight: 400;
      line-height: 189.5%;
      color: $black;
      text-align: center;
      transition: color 0.38s ease-in-out;
      line-height: 1.2;
    }

    &-text {
      text-align: center;
      color: $black;
      @include fluid(font-size, 10px, 20px);
      font-weight: 300;
      line-height: 155%;
      transition: color 0.38s ease-in-out;
    }

    &-1 {
      @include fluid(width, 239px, 478px);
      @include fluid(height, 239px, 478px);
      @include fluid(top, 100px, 253px);
      @include fluid(left, 50px, 224px);
      @include fluid(padding-left, 20px, 40px);
      @include fluid(padding-right, 20px, 40px);
      border: 2px solid #838894;
    }

    &-2 {
      @include fluid(width, 208px, 416px);
      @include fluid(height, 208px, 416px);
      @include fluid(top, 262px, 503px);
      @include fluid(left, 217px, 615px);
      background: #4b5256;
      @include fluid(padding-left, 20px, 40px);
      @include fluid(padding-right, 20px, 40px);

      .whyChooseUs__circle-title,
      .whyChooseUs__circle-text {
        color: $white;
      }
    }

    &-3 {
      @include fluid(width, 194px, 388px);
      @include fluid(height, 194px, 388px);
      @include fluid(top, 121px, 250px);
      @include fluid(left, 350px, 907px);
      background: $white;
      @include fluid(padding-left, 20px, 40px);
      @include fluid(padding-right, 20px, 40px);

      &--gray {
        background-color: #e9ecf2;
      }
    }

    &-4 {
      @include fluid(width, 194px, 478px);
      @include fluid(height, 194px, 478px);
      @include fluid(top, 249px, 430px);
      @include fluid(left, 484px, 1217px);
      @include fluid(padding-left, 20px, 40px);
      @include fluid(padding-right, 20px, 40px);
      border: 2px solid #838894;
    }

    &-5 {
      @include fluid(width, 49.5px, 99px);
      @include fluid(height, 49.5px, 99px);
      @include fluid(top, 5px, 17px);
      @include fluid(right, 5px, 17px);
      background-color: $white;
      object-fit: contain;
    }

    &-6 {
      @include fluid(width, 28px, 56px);
      @include fluid(height, 28px, 56px);
      @include fluid(bottom, 15px, 95px);
      @include fluid(left, 20px, 3px);
      background-color: $white;
      object-fit: contain;
    }

    &-7 {
      @include fluid(width, 13.5px, 27px);
      @include fluid(height, 13.5px, 27px);
      @include fluid(top, 45px, 98px);
      @include fluid(right, -3px, 0px);
      background-color: $yellow;
    }

    &-8 {
      @include fluid(width, 52.5px, 105px);
      @include fluid(height, 52.5px, 105px);
      @include fluid(top, 361px, 752px);
      @include fluid(left, 151px, 503px);
      border: 2px solid $yellow;
    }

    &-9 {
      @include fluid(width, 27px, 54px);
      @include fluid(height, 27px, 54px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
    }

    &-10 {
      @include fluid(width, 14.5px, 29px);
      @include fluid(height, 14.5px, 29px);
      @include fluid(top, 75px, 125px);
      @include fluid(left, -10px, -14px);
      background-color: $yellow;
    }

    &-11 {
      @include fluid(width, 33.5px, 67px);
      @include fluid(height, 33.5px, 67px);
      @include fluid(bottom, -19px, -18px);
      @include fluid(right, 65px, 96px);
      border: 2px solid $yellow;
    }

    &-12 {
      border: 2px solid $yellow;
      @include fluid(width, 13.5px, 27px);
      @include fluid(height, 13.5px, 27px);
      @include fluid(top, 368px, 746px);
      @include fluid(left, 458px, 1161px);
    }

    &-13 {
      @include fluid(width, 22px, 44px);
      @include fluid(height, 22px, 44px);
      @include fluid(top, 414px, 886px);
      @include fluid(left, 656px, 1582px);
      background-color: $yellow;
    }

    &-14 {
      @include fluid(width, 37.5px, 75px);
      @include fluid(height, 37.5px, 75px);
      @include fluid(top, -23px, 0px);
      @include fluid(right, 40px, 50px);
      object-fit: contain;
    }

    &-15 {
      @include fluid(width, 37.5px, 75px);
      @include fluid(height, 37.5px, 75px);
      @include fluid(bottom, 20px, 45px);
      @include fluid(left, -15px, -7px);
      object-fit: contain;
      background-color: $white;
    }
  }
}
