.aboutUsInfo {
  border-radius: 60px 60px 0 0;
  background-color: $yellow;
  height: 100vh;
  .pp-tableCell{
    vertical-align: top;

  }
  .breadcrumbs {
    p {
      color: $dark-grey;

      &:before {
        background-color: $dark-grey;
      }

      &:last-child {
        color: $black;
      }
    }
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    @include fluid(width, 500px, 946px);
    height: 80vh;
    object-fit: contain;
    object-position: right;
  }

  &__wrapper {
    @include fluid(margin-top,30px,110px);
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &-buttons {
      @include fluid(margin-top, 40px, 87px);
      display: flex;
      @include fluid(row-gap, 10px, 15px);
      @include fluid(column-gap, 15px, 30px);
    }

    &-button {
      @include fluid(padding-top,12px,14px);
      @include fluid(padding-bottom,12px,14px);
      @include fluid(padding-left,16px,20px);
      @include fluid(padding-right,16px,20px);
      border-radius: 29px;
      color: #4B5256;
      border: 1px solid #4B5256;
      transition: all .38s ease-in-out;

      &:hover {
        border-color: #FFFFFF;
        background-color: #FFFFFF;
      }
    }

  }

  &__left {
    width: 45%;
    margin-bottom: 170px;

    .title, .text {
      color: $black;
    }

    .title {
      @include fluid(margin-top, 30px, 60px);
    }

    .text {
      @include fluid(margin-top, 20px, 40px);
      line-height: 159.091%;

    }
  }

  &__right {
    width: 60%;
  }
}