.contacts {
  &--page{

    .contacts{
      &__wrapper{
        display: flex;
        flex-direction: column;
        @include fluid(margin-bottom, 400px, 323px);
        &-box{
          display: flex;
          justify-content: space-between;
        }
      }
      &__content{
        @include fluid(margin-top, 30px, 60px);
      }
    }
  }
  &--block {
    .contacts{
      &__wrapper {
        @include fluid(margin-top,140px,170px);
      }
    }
    .pp-tableCell {
      vertical-align: top;
    }
  }
  .pp-tableCell{
    background: #4B5256;
    border-radius: 60px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 42%;
    &-title {
      color: $white;
    }

    &-box {
      display: flex;
      @include fluid(margin-top,30px,47px);
      @include fluid(gap,30px,64px);
    }

    &-items {
      display: flex;
      flex-direction: column;
      @include fluid(gap,20px,45px);
      flex: 1 1;

    }

    &-item {
      display: flex;
      flex-direction: column;
      @include fluid(gap,9px,13px);
    }

    &-miniTitle {
      color: $white;
      @include fluid(font-size,14px,16px);
      font-weight: 400;
      line-height: 140%;
    }

    &-text {
      color: $white;
      @include fluid(font-size,20px,26px);
      font-weight: 400;
      line-height: 140%;
    }
  }

  &__map {
    @include fluid(width,500px,815px);
    @include fluid(height,450px,502px);
    position: relative;
    transition: all .630s cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
    border-radius: 30px;
    overflow: hidden;
    iframe{
      width: 100%;
      height: 100%;
      //filter: grayscale(1);
    }

    canvas {
      filter: grayscale(1);
    }
  }
}

@media screen and (max-width: 992px) {
  .contacts {
    &--page {
      .contacts {
        &__wrapper{
          justify-content: normal;
        }
      }
    }
  }
}