.courier {
  background-color: $white;
  .pp-tableCell{
    vertical-align: top;
  }
  .breadcrumbs {
    p {
      &:last-child {
        color: $white;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 87%;
    .container {

    }
  }

  &__left {
    border-radius: 60px 0px 60px 60px;
    @include fluid(padding-top, 100px, 140px);
    background-color: $dark-grey;
    width: 56%;

    //@include fluid(padding-right, 70px, 105px);
    &-title {
      @include fluid(margin-top, 30px, 60px);
    }

    &-text {
      color: $white;
      @include fluid(font-size, 24px, 26px);
      line-height: 153.846%;
      @include fluid(margin-top, 30px, 60px);
      font-weight: 400;
      width: 90%;
    }

    .btnHover {
      @include fluid(margin-top, 20px, 40px);
      //margin-bottom: 400px;
    }
  }

  &__right {
    border-radius: 0px 60px 60px 60px;
    background-color: $yellow;
    @include fluid(padding-top, 100px, 140px);
    @include fluid(padding-left, 30px, 141px);
    width: 44%;
    img{
      @include fluid(width, 400px, 463px);
      @include fluid(height, 400px, 463px);
      object-fit: contain;
    }
  }
}