.courierContent {
  background-color: #E9ECF2;
  border-radius: 60px 60px 0px 0px;
  .container{
    max-width: 1376px;

  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    @include fluid(gap, 20px, 30px);
    @include fluid(margin-top, 50px, 120px);
    margin-bottom: 150px;
  }

  &__card {
    @include fluid(padding-left, 30px, 50px);
    @include fluid(padding-top, 30px, 50px);
    @include fluid(padding-right, 80px, 95px);
    background-color: $white;
    border-radius: 30px;
    @include fluid(height, 610px, 645px);
    position: relative;

    &:nth-child(1) {
      grid-column: 1/7;
      img{
        @include fluid(width,300px,466px);
        @include fluid(height,250px,394px);
      }
    }

    &:nth-child(2) {
      grid-column: 7/13;
    }

    &:nth-child(3) {
      grid-column: 1/6;
    }

    &:nth-child(4) {
      grid-column: 6/13;
    }

    &--darkGrey {
      background-color: #4B5256;
      .courierContent__card{
        &-title,&-text{
          color: $white;
        }
        &-title{
          @include fluid(margin-top, 20px, 30px);
        }
        &-img{
          position: static;
          @include fluid(width, 60px, 72px);
          @include fluid(height, 60px, 72px);
        }
      }
    }

    &-title {
      color: $black;
      @include fluid(font-size, 35px, 40px);
      font-weight: 600;
    }

    &-text {
      color: $black;
      @include fluid(font-size, 18px, 20px);
      font-weight: 300;
      line-height: 155%;
      @include fluid(margin-top, 20px, 40px);
    }

    &-img {
      position: absolute;
      bottom: 0;
      object-fit: contain;
      right: 0;
    }
  }

  &__minCards {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 10px, 14px);
    @include fluid(margin-top, 30px, 60px);
    &-item {
      @include fluid(width, 250px, 274px);
      @include fluid(padding, 15px, 20px);
      border-radius: 12px;
      display: flex;
      align-items: center;
      @include fluid(gap, 15px, 18px);
      box-shadow: -8px 13px 19px 0px rgba(114, 112, 112, 0.25);
      p{
        color: #4B5256;
        @include fluid(font-size, 18px, 22px);
        font-weight: 400;

      }
      img{
        width: 34.532px;
        height: 35.667px;
        object-fit: contain;
      }
      &:nth-child(odd){
        @include fluid(margin-left, 50px, 108px);
      }
    }
  }
}