.newsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include fluid(gap, 20px, 30px);
  &__column {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 20px, 30px);

    &:nth-child(2) {
      @include fluid(margin-top, 30px, 92px);
    }

  }

  &--page {
    @include fluid(margin-top, 30px, 60px);

    .newsCard {
      background-color: white;

      &:hover {
        background-color: #4B5256;

        .newsCard {

          &__title,&__text,&__date {
            color: $white;
            z-index: 1;
          }

        }
      }

      &:before {
        background-color: #4B5256;
        z-index: 0;
      }

      &__title,&__text,&__date {
        transition: color .5s ease-in-out;
      }
    }
  }
}

.newsCard {
  border-radius: 30px;
  border: 1px solid #4B5256;
  @include fluid(height, 400px, 465px);
  @include fluid(padding-left, 20px, 40px);
  @include fluid(padding-right, 20px, 40px);
  @include fluid(padding-top, 20px, 40px);
  @include fluid(padding-bottom, 20px, 40px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color .5s ease-in-out;
  overflow: hidden;
  &--white{
    background-color: $white;
    border: none;
  }
  &:hover {

    .newsCard__bg {
      opacity: 1;
    }

    .newsCard__title, .newsCard__text, .newsCard__date-number, .newsCard__date-month {
      color: $white;
    }

    &:before {
      width: 200%;
      height: 200%;
      right: -50%;
      bottom: -50%;
    }
  }


  &:before {
    content: "";
    position: absolute;
    right: -100%;
    bottom: -100%;
    width: 0;
    height: 0;
    background-color: #4B5256;
    border-radius: 50%;
    z-index: -1;
    transition: all .5s ease-in-out;
  }

  &__date {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 8px, 10px);

    &-number {
      color: $black;
      @include fluid(font-size, 40px, 70px);
      line-height: 63%;
      font-weight: 400;
      transition: color .5s ease-in-out;
    }

    &-month {
      color: $black;
      @include fluid(font-size, 20px, 24px);
      font-weight: 400;
      transition: color .5s ease-in-out;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 15px, 20px);
  }

  &__title {
    color: $black;
    @include fluid(font-size, 20px, 24px);
    font-weight: 400;
    transition: color .5s ease-in-out;
  }

  &__text {
    color: $black;
    @include fluid(font-size, 16px, 18px);
    font-weight: 400;
    transition: color .5s ease-in-out;

  }

  &__btn {
    display: flex;
    height: 42px;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    width: fit-content;
    border-radius: 29px;
    border: 1px solid #4B5256;
    background: $white;
    position: relative;
    overflow: hidden;

    p {
      z-index: 1;
      color: #4B5256;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
    }

    span {
      z-index: 1;
      font-size: 9px;
    }

    &:hover {
      &:before {
        left: 0;
      }
    }

    &:before {
      position: absolute;
      content: '';
      left: -100%;
      width: 100%;
      height: 100%;
      background: $yellow;
      border-radius: 53px;
      transition: all .5s ease-in-out;
    }

  }

  &__column {

  }
}