.preloader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    &__wrapper {
        width: 70px;
        font-size: 10px;
        border: 2px solid #4B5256;
        display: flex;
        gap: 12px;
        justify-content: center;
        align-items: center;
        padding: 7px 9px;
        border-radius: 15px;
    }
    &__item {
        border: 2px solid #4B5256;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        display: block;
        -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
        animation: stretchdelay 0.7s infinite ease-in-out;
        &--2 {
            -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
        }
        &--3 {
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }
    }
}


@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: translateY(0px) }
    20% { -webkit-transform: translateY(-5px) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    } 20% {
          transform: translateY(-5px);
          -webkit-transform: translateY(-5px);
      }
}