.workingFor {
  background-color: $yellow;
  border-radius: 60px 60px 0px 0px;

  &--gray {
    background-color: #e9ecf2;
  }

  &__container {
    grid-area: right;
    @include fluid(padding-bottom, 30px, 100px);
  }

  .pp-tableCell {
    display: block;
  }
  &.pp-section {
    display: block;
  }
  .footer {
    @media screen and (min-width: 1200px) {
      @include fluid(height, 260px, 330px);
      margin-top: auto;
    }
  }
  &__wrapper {
    @include fluid(padding-top, 237px, 120px);
    display: flex;
    @include fluid(gap, 15px, 30px);
    justify-content: space-between;
    &--newsDetail {
      margin-bottom: 30px;
      .workingFor {
        &__left {
          width: 12%;
        }
        &__swiper {
          &--news {
            width: 86%;
          }
        }
      }
    }
  }

  &__left {
    width: fit-content;

    &-2 {
      width: 24vw;
    }
    &-title {
      color: $black;
    }

    &-buttons {
      @include fluid(margin-top, 30px, 60px);
      display: flex;
      align-items: center;
    }

    &-button {
      background-color: $white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include fluid(margin-right, 15px, 30px);

      div {
        color: $black;
        transition: color 0.38s ease-in-out;
      }

      &--left {
        div {
          transform: rotate(180deg);
        }
      }

      &:hover {
        div {
          color: $yellow;
        }
      }
    }
  }

  &__swiper {
    width: 70%;
    &--news {
    }
    &-2 {
      width: 75%;
    }
  }

  &__slide {
    border-radius: 10px 30px 10px 10px;
    background-color: $white;
    @include fluid(padding, 20px, 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include fluid(height, 400px, 432px);
    &-title {
      color: $black;
      @include fluid(font-size, 20px, 24px);
      font-weight: 600;
    }

    &-text {
      @include fluid(font-size, 16px, 20px);
      font-weight: 300;
      line-height: 110%;
      color: $black;
    }

    &-2 {
      background-color: white;
      border-radius: 30px;
      @include fluid(padding, 20px, 50px);
      @include fluid(padding-right, 20px, 70px);
      color: $black;

      &--gray {
        background-color: #4b5256;
        color: white;
      }

      &-title {
        @include fluid(font-size, 24px, 40px);
        font-weight: 600;
        margin-bottom: 1em;
      }

      &-text {
        @include fluid(font-size, 16px, 20px);
        font-weight: 300;
        line-height: 110%;
        line-height: 1.5;
      }
    }
  }
  &--footer {
    padding-bottom: 0;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    .workingFor {
      &__wrapper {
        padding-top: 30px;
      }
      &__left {
        width: 16%;
      }
    }
    .pp-tableCell {
      display: block;
    }
  }
}
